@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  }
  